@keyframes roll {
  0% {
    transform: translateY(-50px);
    opacity: 0.2;
    filter: blur(4px);
  }
  50% {
    opacity: 1;
    filter: blur(10px);
  }
  100% {
    transform: translateY(50px);
    opacity: 0.2;
    filter: blur(4px);
  }
}
@keyframes fadeWhite {
  0% {
    background-color: var(--secondary-punch);
  }
  100% {
    background-color: var(--primary-dark);
  }
}
