@import url("./animations.css");
@font-face {
  font-family: mermaid;
  src: url("./animations.css");
}
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap");

:root {
  --primary-color: #2e2d40;
  --secondary-color: #bfa473;
  --primary-light: #4f4973;
  --primary-dark: #1d1c26;
  --secondary-punch: #d9a648;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  background-image: url("../img/bg.jpg");
  background-repeat: space;
  overflow: hidden;
}

#my-canvas {
  position: absolute;
  z-index: 1;
  pointer-events: none;
}

.title {
  font-family: mermaid;
  font-size: 2.5rem;
  color: white;
  letter-spacing: 5px;
  margin-top: 2rem;
}

.title::before {
  content: "";
  display: block;
  height: 0.4em;
  width: 70%;
  margin: 0 auto;
  border-top: 2px solid var(--secondary-color);
}
.title::after {
  content: "";
  display: block;
  width: 70%;
  margin: 0.2em auto;
  border-top: 2px solid var(--secondary-color);
}

#sub-title {
  text-transform: uppercase;
  margin-top: 1rem;
  color: var(--secondary-color);
  transition: font-size ease-in-out 0.3s;
  z-index: 1;
}

.sub-title-win {
  font-size: 2rem;
}

.main-box {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1200px;
  height: 650px;
  margin: 2rem;
  padding: 2rem;
  background: radial-gradient(
    circle,
    rgba(79, 73, 115, 1) 0%,
    rgba(23, 22, 38, 1) 100%
  );
  z-index: 0;
}

#number-box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  width: 25rem;
  height: 12rem;
  position: relative;
  overflow: hidden;
  background-color: var(--primary-dark);
  border: 2px solid var(--secondary-color);
  margin-top: 3rem;
  /* animation: fadeWhite 1s; */
}

#number-line {
  position: absolute;
  font-size: 8rem;
  color: var(--secondary-punch);
  /* animation: roll 0.1s linear infinite; */
}

.btn {
  width: 14rem;
  height: 3rem;
  background-color: var(--secondary-color);
  margin: 2rem 1rem;
  color: var(--primary-dark);
  border: none;
  transition: transform 0.2s ease-in-out;
  font-size: 1.2rem;
  z-index: 10;
}
.btn:hover {
  cursor: pointer;
  transform: scale(1.1);
  background-color: var(--secondary-punch);
}

#logo-recordtv {
  margin-top: 1rem;
  width: 4rem;
}

#reset {
  position: absolute;
  bottom: 2rem;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--secondary-color);
  cursor: pointer;
  z-index: 1;
}

.hidden {
  display: none;
}

@media (max-width: 750px) {
  .title {
    font-size: 1.5rem;
  }
}
